/*client/css/App.css*/
.button-col {
    width:100px;
    text-align:center;
}
.desc-col {
 width:300px;
 text-align:left;
}
table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
.counterCell {
 text-align: center;
 width:50px;
}
.button-center {
 text-align: center;
}
.Modal {
   position: relative;
   top: 250px;
   left: 400px;
   right: 20px;
   bottom: 20px;
   background-color: #F5F5F5;
   width:500px;
   border: 1px solid #000;
   border-radius: 4px;
   padding: 20px;
 }
.Overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rebeccapurple;
 }
.button-center {
  text-align: center;
 }
label{
 display:inline-block;
 width:200px;
 margin-right:30px;
 text-align:right;
 }
fieldset{
 border:none;
 margin:0px auto;
 }
.closebtn{
   float:right;
 }
